<!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="index.html">
              <span>
                SSÖ
              </span>
            </a>
            <p>
              Efsane, Yetenek ve Süperstar...
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              
            </h5>
            <ul>
              <li>
                <a href="http://localhost:8000">
                  Ana Sayfa
                </a>
              </li>
              <li>
                <a href="http://localhost:8000/contact">
                  İletişim
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              İletişim
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <a href="tel:+905412457032" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Ara : +90 5412457032
              </span>
            </a>
            <a href="mailto:srknshyl@outlook.com" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                srknshyl@outlook.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            </form>
            <div class="social_box">
              <a href="facebook.com/SrknShyl">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="x.com/SrknShyl1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="instagram.com/SrknShyl">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a> Distribution by
      <a href="https://themewagon.com">ThemeWagon</a>
    </p>
  </footer>
  <!-- footer section -->
  
  {% include 'includes/scripts.html' %}

</body>

</html>