{% load static %}

{% include 'includes/head.html' %}

<body>

{% include 'includes/navbar.html' %}
  <div class="hero_area">
    
    <!-- slider section -->
    <section class="slider_section">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <h1>
                  Halısahada Aradığınız <br>
                  <span>
                   ADAM
                  </span>
                </h1>
                <p>
                  {{ slider_description }}
                </p>
                <div class="btn-box">
                  <a href="tel:+905412457032" class="btn-1"> Hemen Ara </a>
                  <a href="/contact" class="btn-2">Rezervasyon</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="{% get_media_prefix %}images/about-img.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Kim bu {{ site_title }} ?
              </h2>
            </div>
            <p>
              Zamanında altyapıda oynamış fakat o her yerde duyduğunuz klasik bahanelerle bu yola devam etmemiş fakat bu yola gönül koymuş biriyim. Amatör olarak ne kada kanat olarak oyuna başlasamda mevcut durumum nedeniyle (fazla kilo) kaleci ve forvet mevkisine evrilmiş, 23 yaşında bir bireyim. Çok önemli değil fakat Düzceliyim.
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

{% include 'includes/footer.html' %}


